[Desktop Entry]
Type=Application
Name=Astroncia IPTV
Comment=IPTV player
Comment[ru]=IPTV плеер
Comment[hr]=IPTV reproduktor
Comment[uk]=IPTV player
Comment[es]=Reproductor de IPTV
Exec=astronciaiptv
Icon=astronciaiptv
Categories=AudioVideo;Video;Player;Recorder;TV;
Keywords=Television;Stream;
