[Desktop Entry]
Type=Application
Name=Astroncia IPTV
Comment=IPTV player
Comment[ru]=IPTV плеер
Exec=astronciaiptv
Icon=astronciaiptv
Categories=AudioVideo;Video;Player;Recorder;TV;
Keywords=Television;Stream;
