[Desktop Entry]
Type=Application
Name=yuki-iptv
Comment=IPTV player with EPG support
Exec=yuki-iptv
Icon=yuki-iptv
Categories=AudioVideo;Video;Player;Recorder;TV;
Keywords=Television;Stream;
