[flake8]
exclude = build,venv,.tox,.git,.pytest_cache,usr/lib/yuki-iptv/thirdparty/mpris_server,usr/lib/yuki-iptv/thirdparty/mpv.py,usr/lib/yuki-iptv/thirdparty/pydbus,usr/lib/yuki-iptv/thirdparty/xtream.py
max_line_length = 120
