__pycache__
usr/share/locale
usr/lib/yuki-iptv/yuki_iptv/plugins
*.swo
*.swp
.pytest_cache
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/yuki-iptv.debhelper.log
debian/yuki-iptv.substvars
debian/yuki-iptv
