Source: astronciaiptv
Section: video
Priority: optional
Maintainer: Astroncia <kestraly@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Rules-Requires-Root: no

Package: astronciaiptv
Architecture: all
Depends: ffmpeg,
         libmpv1 (>= 0.27.2-1),
         python3 (>= 3.6.0-1),
         python3-requests,
         python3-chardet,
         python3-setproctitle,
         python3-pyqt6 | python3-pyqt5,
         python3-pil,
         python3-gi,
         python3-pydbus,
         python3-unidecode
Recommends: yt-dlp | youtube-dl
Breaks: astroncia-iptv (<< 0.0.91)
Replaces: astroncia-iptv (<< 0.0.91)
Description: IPTV player
 IPTV player with EPG support.
