Source: yuki-iptv
Section: video
Priority: optional
Maintainer: yuki-chan-nya <yukichandev@proton.me>
Build-Depends: debhelper (>= 9), python3-pytest
Standards-Version: 3.9.6
Rules-Requires-Root: no

Package: yuki-iptv
Architecture: all
Depends: ffmpeg (>= 4.2.7),
         libmpv2 | libmpv1 (>= 0.32.0-1),
         python3 (>= 3.8.0-1),
         python3-requests,
         python3-chardet,
         python3-setproctitle,
         python3-pyqt6 (>= 6.2.2) | python3-pyqt5 (>= 5.14.1),
         python3-pil,
         python3-gi,
         python3-unidecode,
         python3-pydbus
Recommends: yt-dlp | youtube-dl
Description: IPTV player with EPG support (Astroncia IPTV fork)
 Watch TV.
